
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');


.NavBar-container {
    padding: var(--s) var(--m) ;
    background-color: #AAAAAA ;
    width: 100%;
    /* display: flex;
   ; */
}

/* nav{
    display: flex;
    justify-content: space-evenly;
} */

.NavBar-title {
    color: #0000;
    font: "OpenSans"; 
    font-size: 50 px;
    font-weight: bold;

}



.Link-title {
    color: #0000;
    font:  "OpenSans"; 
    font-size: 20 px;
    display: flex;
    justify-content: space-evenly;
}